body{
    font-family: Arial;
}
h1{
    font-family: Georgia;
    font-weight: bold;
}
li{
    font-size: 18px;
}

p{
    font-size:14px;
}
body{
    background-color:#A7C7E750;
    
}
h4{
    font-weight:normal;
    
}
.section1{
    background-color: #E6E6FA;
}
.section2{
    background-color: #E5D3EE80;
}
.section3{
    background-color: #EED3EA80;
}
.section4{
    background-color: #EFD2D980;
}
.images{
    width:300px; height:400px;
}
.images1{
    width:400px; height:400px;
}
.video{
    width:300px; height:500px;
}
