body{
    font-family: Arial;
}
li{
    font-size: 18px;
}
.links{
    color:LightSeaGreen;
}

.table{
    width: 100%;
    font-family: Helvetica;
}
.header{
    background-color: OliveDrab;
    olor: white;
    text-align: center;
}
.odd-row{
    background-color:SandyBrown;
}
.even-row{
    background-color:LightCoral;
}
            
